<div class="mobileNavbar hide" id="menuDisplayer">              
    <input type="checkbox" id="checkbox">
    <div class="bars">
        <span class="top_line common"></span>
        <span class="middle_line common"></span>
        <span class="bottom_line common"></span>  
    </div>
    <div class="slider">
      <ul>
        <li>
          <a style="color: #cd9d40;" href="/">Home</a>
        </li>
        <li><a href="#">Product Category
        </a>
          <ul class="subSlide">
            <li><a href="/categories/Necklace">Necklace</a></li>
            <li><a href="/categories/Earrings">Earrings</a></li>
            <li><a href="/categories/Rings">Rings</a></li>
            <li><a href="/categories/Bracelet">Bracelet</a></li>
    </ul>
      </li>
      <li><a href="">Sections
      </a>
        <ul class="subSlide">
          <li><a href="/cart">Cart</a></li>
          <li><a href="/checkout">Checkout</a></li>
          <li><a href="/heart">Wishlist</a></li>
  </ul>
    </li>
    <li>
      <a href="/shop">Shop</a>
    </li>
    <li >
      <a href="#">Contact Us</a>
    </li>  
      </ul>
    </div>
  </div>
  <div class="relatedContent">          
    <ul class="nav navAdjust">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
            <li><a href="#">Product Category
              <i class="fa fa-angle-down"></i>
            </a>
              <ul class="submenu">
                  <li><a href="/categories/Necklace">Necklace</a></li>
                  <li><a href="/categories/Earrings">Earrings</a></li>
                  <li><a href="/categories/Rings">Rings</a></li>
                  <li><a href="/categories/Bracelet">Bracelet</a></li>
              </ul>
          </li>
          <li><a href="#">Sections
            <i class="fa fa-angle-down"></i>
          </a>
            <ul class="submenu">
                <li><a href="/cart">Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/heart">Wishlist</a></li>
            </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>  
    </ul>
  </div>
</header>